@font-face {
    font-family: 'nexa-bold';
    src: url('fonts/Nexa Bold.otf');
}
@font-face {
    font-family: 'nexa-light';
    src: url('fonts/Nexa Light.otf');
}
@font-face {
    font-family: 'nexa-slab-bold';
    src: url('fonts/Nexa Slab Bold.otf');
}
@font-face {
    font-family: 'nexa-slab-regular';
    src: url('fonts/Nexa Slab Regular.otf');
}
@font-face {
    font-family: 'nexarustextras-free';
    src: url('fonts/NexaRustExtras-Free.otf');
}
@font-face {
    font-family: 'nexarusthandmade-extended';
    src: url('fonts/NexaRustHandmade-Extended.otf');
}
@font-face {
    font-family: 'nexarustsans-black';
    src: url('fonts/NexaRustSans-Black.otf');
}
@font-face {
    font-family: 'nexarustscriptl';
    src: url('fonts/NexaRustScriptL-0.otf');
}
@font-face {
    font-family: 'nexarustslab-blackshadow';
    src: url('fonts/NexaRustSlab-BlackShadow01.otf');
}