.container { max-width: 100%; width: 100%; height: auto; position: relative; margin: 0 auto; z-index: 10 }
._tr { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease }
._bc { -webkit-background-size: cover !important; -moz-background-size: cover !important; -o-background-size: cover !important; background-size: cover !important }
* { font-smooth: always; -webkit-font-smoothing: antialiased }
.no_scroll { overflow: hidden }
.nopad { padding: 0px }
.nopad_l { padding-left: 0px }
.nopad_l_r { padding-left: 0px; padding-right: 0px }
.nopad_r { padding-right: 0px }
.nopad_t { padding-top: 0px }
.nopad_b { padding-bottom: 0px }
.nopad_t_b { padding-top: 0px; padding-bottom: 0px }
.hover_img { float: left; position: relative; overflow: hidden }
.hover_img .hover_img2 { opacity: 0; position: absolute; top: 0; left: 0; bottom: 0 }
.hover_img .hover_img2:hover { opacity: 1 }
.img_hover { width: 100% }
.rotacao { image-rendering: optimizeQuality; -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease }
.rotacao:hover { -moz-transform: rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg); -webkit-transform: rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg); -o-transform: rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg); -ms-transform: rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg); transform: rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg) }
.centerR { position: relative; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%) }
.centerA { position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%) }
.centerAll { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%) }
#abrirPopup { cursor: pointer }
#fecharPopup { cursor: pointer }
#popup { position: fixed; top: 50%; left: 50%; margin: -75px 0 0 -150px; width: 300px; height: 150px; padding: 20px; border: solid 1px #331; background: #fff; display: none; z-index: 99999 }
#telaToda { opacity: 0.7; width: 100%; height: 100%; position: fixed; background-color: rgba(0, 0, 0, 0.9); top: 0; left: 0; display: none; z-index: 999 }
.tooltipster-default { border-radius: 5px; border: 2px solid #000; background: #4c4c4c; color: #fff }
.tooltipster-default .tooltipster-content { font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; padding: 8px 10px; overflow: hidden }
.imagem { max-width: 100%; max-height: 100%; width: auto; height: auto }
.show-phone { display: none !important }
.hide-phone { display: block !important }
.show-tablet { display: none !important }
.hide-tablet { display: block !important }
.show-laptop { display: none !important }
.hide-laptop { display: block !important }
.show-desktop { display: block !important }
.hide-desktop { display: none !important }
.botao { cursor: pointer }
.botao:hover { opacity: 0.8 }
ul { list-style: none }
ul li { display: inline-block; position: relative; text-align: left }
ul li a { display: block }
ul li a:hover { }
ul li ul.dropdown { display: none; position: absolute; z-index: 999; left: 0 }
ul li:hover ul.dropdown { display: block }
ul li ul.dropdown li { display: block }
body { padding: 50px; padding-top: 0 }
header { font-family: 'nexa-bold' }
header .mouse { position: absolute; bottom: 80px; z-index: 999999; left: 49% }
header .customPrevBtn { position: absolute; top: 50vh; z-index: 999999; left: 100px }
header .customNextBtn { position: absolute; top: 50vh; z-index: 999999; right: 100px }
header .owl-theme .owl-dots { margin-top: -100vh }
header .owl-theme .owl-dots .owl-dot span { width: 100px; height: 5px; border-radius: 0px }
header .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span { background: #27326b }
header .owl-theme .owl-dots .owl-dot span { background: #ffffff }
header .owl-theme .owl-dots .owl-dot:hover span { background: #27326b }
header .rede_social { padding-top: 12px; padding-right: 50px }
#carousel { height: calc(100vh - 100px); margin-top: 50px; }
#carousel .item { background-image: url(../images/banner.jpg); background-size: cover; height: calc(100vh - 100px); }
#carousel .titulo { text-shadow: 0px 0px 20px #000;width: 100%; color: #ffffff; font-size: 80px; text-align: center; padding-top: 15vh }
#carousel .texto { width: 50%; text-align: center; color: #27326b; padding-top: 20px; padding-bottom: 20px; padding-left: 30px; padding-right: 30px; background: rgba(255, 255, 255, 0.4); margin-top: 10vh }
#carousel .saiba_mais { width: 50%; margin-top: 15vh; text-align: center }
#carousel .saiba_mais span { padding-left: 50px; padding-right: 50px; padding-top: 10px; padding-bottom: 10px; border: 4px solid #ffffff; text-align: center; color: #ffffff }
#menu { padding-top: 50px }
#menu .logo { width: 20%; float: left; padding-left: 50px; padding-right: 50px }
#menu .logo img { width: 100%; max-width: 100% }
#menu .login { width: 20%; float: right }
#menu .login span { text-transform: uppercase; color: #50565e; text-align: right; float: right; padding-left: 30px; padding-right: 30px; padding-top: 5px; padding-bottom: 5px; border: 4px solid #50565e }
#menu .menu { width: 60%; float: left; padding-left: 50px; font-family: 'nexa-light'; font-size: 14px; color: #50565e }
#menu .menu ul li { width: 20%; float: left; padding-top: 15px }
#menu .menu ul li a:hover { color: #0086c8; text-decoration: underline; font-family: 'nexa-bold' }
#menu .menu ul .ativo { color: #0086c8; text-decoration: underline; font-family: 'nexa-bold' }
#home { padding-top: 150px }
#home .sobre { padding-left: 150px; padding-right: 150px; background-image: url(../images/22-anos.png); background-size: 60%; background-repeat: no-repeat; background-position-x: 91%; background-position-y: 27%; padding-bottom: 150px }
h1 { font-family: 'nexa-bold'; font-size: 20pt; color: #27326b }
h2 { font-family: 'nexa-bold'; font-size: 12pt; color: #50565e }
.texto { font-family: 'nexa-light'; font-size: 12pt; color: #50565e; width: 45%; text-align: justify; margin-top: 50px }
#home .sobre .itens { width: 45%; margin-top: 70px }
#home .sobre .dados { width: 25%; float: left; font-family: 'nexa-bold'; color: #27326b }
#home .sobre .numero { font-size: 20pt }
#home .sobre .descricao { font-size: 12pt }
#home .sobre .saiba_mais { font-family: 'nexa-bold'; margin-top: 100px; text-transform: uppercase; color: #50565e; text-align: right; float: left; padding-left: 60px; padding-right: 60px; padding-top: 5px; padding-bottom: 5px; border: 4px solid #50565e }
#home .servicos { background: #e8f0f2; min-height: 100vh; padding-left: 150px; padding-right: 150px; padding-bottom: 100px }
#home .servicos h1 { padding-top: 70px; text-align: center }
#home .servicos .texto { width: 50%; text-align: center; padding-bottom: 70px }
#home .servicos .item1 { width: 33%; float: left; text-align: center; position: relative }
#home .servicos .item2 { width: 33%; float: left; text-align: center; position: relative }
#home .servicos .item3 { width: 33%; float: right; text-align: center; position: relative }
#home .servicos .itens img { max-width: 100%; padding: 40px }
#home .servicos .itens .texto { padding-top: 0; width: 100%; padding-left: 30px; padding-right: 30px }
#home .servicos .itens { padding-bottom: 120px; position: relative }
#home .servicos .saiba_mais { font-family: 'nexa-bold'; margin-top: 100px; text-transform: uppercase; color: #50565e; text-align: right; float: left; padding-left: 60px; padding-right: 60px; padding-top: 5px; padding-bottom: 5px; border: 4px solid #50565e }
#home .produtos { padding-top: 50px; padding-right: 0; padding-bottom: 50px; padding-left: 50px }
#home .produtos .conteudo { width: 50%; float: left; padding-left: 100px; padding-top: 120px }
#home .produtos .conteudo .texto { width: 60% }
#home .produtos .conteudo .saiba_mais { font-family: 'nexa-bold'; margin-top: 250px; text-transform: uppercase; color: #50565e; text-align: right; float: left; padding-left: 60px; padding-right: 60px; padding-top: 5px; padding-bottom: 5px; border: 4px solid #50565e }
#home .produtos .conteudo { background-image: url(../images/qualidade-modernidade.png); background-repeat: no-repeat; background-size: 100%; background-position-y: 85% }
#home .produtos .quadro { width: 45%; float: right; border: 4px solid #27326b; padding-top: 120px; padding-left: 120px; padding-bottom: 50px; position: relative }
#home #carousel_produtos img { width: 100%; max-width: 100%; max-height: 100%; height: 100% }
#home #carousel_produtos .item { height: 100% }
#home #carousel_produtos { margin-left: -250px }
#home #carousel_produtos:before { background-image: url(../images/produto2.jpg); content: ""; position: absolute; bottom: 10px; right: -157px; width: 157px; height: 312px }
#home .quadro .customPrevBtn { position: absolute; left: -130px; bottom: 60px; z-index: 9999999 }
#home .quadro .customNextBtn { position: absolute; left: -90px; bottom: 60px; z-index: 9999999 }
#home .quadro hr { position: absolute; bottom: 30px; left: 30px; width: 100px; height: 4px; background: #27326b }
#home .nossos_parceiros { background-image: url(../images/bg_nossos_parceiros.png); background-size: 40%; padding: 100px; background-repeat: no-repeat; background-position-y: 50px; padding-bottom: 100px }
#home .nossos_parceiros .item { width: 100%; float: left }
#home .nossos_parceiros .item img { max-width: 100%; width: 120px; padding: 20px }
footer { padding: 50px; padding-top: 100px; padding-bottom: 100px }
footer .logo { width: 70%; margin-top: -15px }
footer .item { width: 20%; float: left; font-family: 'nexa-light'; position: relative; color: #50565e }
footer .direitos { font-size: 10pt }
footer li { padding-left: 30px; padding-bottom: 10px; font-size: 12pt; width: 100% }
footer li .ativo { color: #0086c8; text-decoration: underline; font-family: 'nexa-bold' }
footer li a:hover { color: #0086c8; text-decoration: underline; font-family: 'nexa-bold' }
footer span { font-family: 'nexa-bold'; font-weight: 800 }
.rede_social { text-align: right }
.rede_social i { margin-left: 10px; font-size: 15pt; color: #50565e }
#contato { margin-top: 100px }
#contato .quadro { width: 55%; float: left; border: 4px solid #27326b; height: 100vh; padding-top: 50px; padding-left: 100px; padding-bottom: 50px }
#contato iframe { width: 100%; height: 100%; margin-left: 50px }
#contato .dados { width: 45%; float: left; padding-left: 80px; padding-top: 50px }
#contato .dados .texto { width: 100% }
#contato span { font-family: 'nexa-bold' }
#contato a { text-decoration: underline; font-family: 'nexa-bold'; color: #0086c8; float: left; text-decoration: none; font-size: 26px; margin-right: 5px; }
#contato p { font-family: 'nexa-bold'; font-size: 80pt; margin-top: 50px; color: #e8f0f2 }
#contato form { margin-top: 150px; padding-left: 150px; padding-right: 150px; padding-bottom: 50px }
#contato form input { width: 100%; font-family: 'nexa-light'; font-size: 12pt; padding: 20px; border: 3px solid #e8f0f2; margin-bottom: 40px }
#contato form textarea { width: 100%; height: 300px; font-family: 'nexa-light'; font-size: 12pt; padding: 20px; border: 3px solid #e8f0f2; margin-bottom: 40px }
#contato form .full { width: 100%; float: left }
#contato form .meio { width: 48%; float: left }
#contato form button { margin-top: -10px; font-family: 'nexa-bold'; text-transform: uppercase; color: #50565e; text-align: right; float: right; padding-left: 60px; padding-right: 60px; padding-top: 5px; padding-bottom: 5px; border: 4px solid #50565e; background: none }
#contato form span { color: #27326b }
#login .saiba_mais span { background: #0086c8; border: 0 }
#login form { margin-top: 80px }
#login input { background: rgba(255, 255, 255, 0.6); width: 50%; text-align: center; padding: 10px; margin-bottom: 3px; border: 0; font-family: 'nexa-light'; font-size: 12pt; color: #50565e }
#login form button{border: 0;background: none;color: #ffffff}
#servicos .servicos { background: #e8f0f2; min-height: auto; padding-left: 150px; padding-right: 150px; margin-top: 100px }
#servicos .servicos h1 { padding-top: 70px; text-align: center }
#servicos .servicos .texto { width: 100%; text-align: justify; margin-bottom: 100px }
#servicos .servicos .texto span { text-align: center }
#servicos .servicos .item1 { width: 33%; float: left; text-align: center; position: relative }
#servicos .servicos .item2 { width: 33%; float: left; text-align: center; position: relative }
#servicos .servicos .item3 { width: 33%; float: right; text-align: center; position: relative }
#servicos .servicos .itens img { max-width: 100%; padding: 40px }
#servicos .servicos .itens .texto { padding-top: 0; width: 100%; padding-left: 30px; padding-right: 30px; margin-top: 0px }
#servicos .servicos .itens { padding-bottom: 0px; position: relative }
#servicos .servicos .saiba_mais { font-family: 'nexa-bold'; margin-top: 100px; text-transform: uppercase; color: #50565e; text-align: right; float: left; padding-left: 60px; padding-right: 60px; padding-top: 5px; padding-bottom: 5px; border: 4px solid #50565e }
#servicos .servicos .customPrevBtn { position: absolute; top: 70vh; left: 80px }
#servicos .servicos .customNextBtn { position: absolute; top: 70vh; right: 80px }
#servicos .nossa_equipe { padding-top: 100px; padding-bottom: 100px; padding-right: 150px; padding-left: 150px }
#servicos .nossa_equipe .texto { width: 100% }
#servicos .equipe { min-height: 90vh; margin-top: 50px }
#servicos p { font-family: 'nexa-bold'; font-size: 70pt; margin-top: 50px; color: #e8f0f2; margin-left: -250px }
#servicos p span { color: #27326b }
#servicos hr { width: 70px; height: 4px; background: #27326b; margin-left: 50px }
#servicos .equipe #carousel_equipe img { width: 100%; max-width: 100% }
#servicos .equipe .customPrevBtn { position: absolute; left: 0; bottom: 10px; z-index: 9999 }
#servicos .equipe .customNextBtn { position: absolute; left: 40px; bottom: 10px; z-index: 9999 }
#sobre { margin-top: 100px; margin-bottom: 100px }
#sobre .conteudo { padding-top: 50px; padding-left: 100px; padding-right: 100px; padding-bottom: 50px }
#sobre .conteudo .texto { width: 100%; margin: 0; margin-top: 30px }
#sobre .quadro { padding-right: 100px; padding-top: 50px; padding-bottom: 50px; border: 4px solid #27326b; height: 90vh }
#sobre .quadro img { width: auto; margin-left: -50px; max-width: 100%; max-height: 100% }
#sobre .banner { margin-top: 100px; padding-right: 150px }
#sobre #carousel_sobre { }
#sobre #carousel_sobre .item img { max-width: 100%; width: 100%; max-height: 100vh }
#sobre .banner .customPrevBtn { position: absolute; right: 200px; bottom: 0px; z-index: 9999999 }
#sobre .banner .customNextBtn { position: absolute; right: 150px; bottom: 0px; z-index: 9999999 }
#sobre .textos { padding-left: 100px; padding-right: 150px; margin-top: 100px; background-image: url(../images/bg_sobre.png); background-size: 60% auto; background-repeat: no-repeat; background-position-x: 50%; background-position-y: 50% }
#sobre .textos .texto { width: 100% }
#sobre .textos .item { margin-bottom: 50px }
#projetos { margin-top: 150px }
#projetos .conteudo { padding-left: 150px; padding-right: 150px }
#projetos .texto { width: 100% }
#projetos .empresarial .quadro { width: 30%; height: 100%; position: absolute; border: 4px solid #27326b; left: 0; top: 0 }
#projetos .empresarial { margin-top: 100px; max-height: 100vh; padding-left: 150px; padding-top: 50px; padding-bottom: 50px }
#projetos .empresarial .banner .item { width: auto; max-width: 100%; max-height: calc(100vh - 100px) }
#projetos .empresarial .banner .item .cliente { width: 100%; height: auto; position: absolute; top: 0; z-index: 999999; padding: 10px; background: rgba(255, 255, 255, 0.6); font-family: 'nexa-bold'; color: #27326b; padding-left: 50px; font-size: 20pt; }
#projetos .empresarial .banner img { width: auto; max-width: 100%; max-height: calc(100vh - 100px) }
#projetos .empresarial .customPrevBtn { position: absolute; right: 55px; bottom: 0px; z-index: 999999 }
#projetos .empresarial .customNextBtn { position: absolute; right: 5px; bottom: 0px; z-index: 999999 }
#projetos p { font-family: 'nexa-bold'; font-size: 70pt; margin-top: 50px; color: #e8f0f2; line-height: 80px; padding-top: 10vh }
#projetos p span { color: #27326b }
#projetos .residencial .quadro { width: 30%; height: 100%; position: absolute; border: 4px solid #27326b; right: 0; top: 0 }
#projetos .residencial { margin-top: 100px; max-height: 100vh; padding-right: 150px; padding-top: 50px; padding-bottom: 50px }
#projetos .residencial .banner .item { width: auto; max-width: 100%; max-height: calc(100vh - 100px); float: right }
#projetos .residencial .banner img { width: auto; max-width: 100%; max-height: calc(100vh - 100px) }
#projetos .residencial .customPrevBtn { position: absolute; right: 55px; bottom: 0px; z-index: 999999 }
#projetos .residencial .customNextBtn { position: absolute; right: 5px; bottom: 0px; z-index: 999999 }
#projetos .edificios .quadro { width: 30%; height: 100%; position: absolute; border: 4px solid #27326b; left: 0; top: 0 }
#projetos .edificios { margin-top: 100px; max-height: 100vh; padding-left: 150px; padding-top: 50px; padding-bottom: 50px }
#projetos .edificios .banner .item { width: auto; max-width: 100%; max-height: calc(100vh - 100px) }
#projetos .edificios .banner img { width: auto; max-width: 100%; max-height: calc(100vh - 100px) }
#projetos .edificios .customPrevBtn { position: absolute; right: 55px; bottom: 0px; z-index: 999999 }
#projetos .edificios .customNextBtn { position: absolute; right: 5px; bottom: 0px; z-index: 999999 }
#projetos .orcamento { font-family: 'nexa-bold'; width: auto; margin-top: 100px; position: relative; float: none }
#projetos .orcamento span { text-transform: uppercase; color: #50565e; padding-left: 60px; padding-right: 60px; padding-top: 5px; padding-bottom: 5px; border: 4px solid #50565e }
#status_projetos { margin-top: 150px }
#status_projetos .conteudo { padding-left: 150px; padding-right: 150px }
#status_projetos .texto { width: 100% }
#status_projetos p { font-family: 'nexa-bold'; font-size: 70pt; margin-top: 50px; color: #e8f0f2; line-height: 80px; padding-top: 20vh }
#status_projetos p span { color: #27326b }
#status_projetos .residencial .quadro { width: 30%; height: 100%; position: absolute }
#status_projetos .residencial { margin-top: 100px; max-height: 100vh; padding-right: 150px }
#status_projetos .residencial .banner .item { width: auto; max-width: 100%; max-height: calc(100vh); float: right }
#status_projetos .residencial .banner img { width: auto; max-width: 100%; max-height: calc(100vh) }
#status_projetos .residencial .customPrevBtn { position: absolute; right: 55px; bottom: 0px; z-index: 999999 }
#status_projetos .residencial .customNextBtn { position: absolute; right: 5px; bottom: 0px; z-index: 999999 }
#status_projetos .residencial:before { content: ""; position: absolute; right: 0; top: 30vh; width: 4px; height: 100px; background: #27326b }
#status_projetos .status { margin-top: 70px }
#status_projetos .status button { font-family: 'nexa-bold'; color: #ffffff; background: #00e400; padding-left: 50px; padding-right: 50px; padding-bottom: 5px; padding-top: 5px; border: 0; margin-top: 70px }
#status_projetos .etapas { margin-top: 50px; padding-left: 150px; padding-right: 150px; padding-top: 100px; padding-bottom: 100px; background: #e8f0f2 }
#status_projetos form input { width: 100%; font-family: 'nexa-light'; font-size: 12pt; padding: 20px; border: 3px solid #e8f0f2; margin-bottom: 40px }
#status_projetos form textarea { width: 100%; height: 300px; font-family: 'nexa-light'; font-size: 12pt; padding: 20px; border: 3px solid #e8f0f2; margin-bottom: 40px }
#status_projetos form .full { width: 100%; float: left }
#status_projetos form .meio { width: 48%; float: left }
#status_projetos form button { margin-top: -10px; font-family: 'nexa-bold'; text-transform: uppercase; color: #50565e; text-align: right; float: right; padding-left: 60px; padding-right: 60px; padding-top: 5px; padding-bottom: 5px; border: 4px solid #50565e; background: none }
#status_projetos .etapas .cada { margin-bottom: 50px }
#status_projetos .etapas .cada .texto { display: none }
#status_projetos h1 img { width: 30px; margin-left: 30px }
#status_projetos h1 .ativo { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -sand-transform: rotate(-90deg); transform: rotate(-90deg) }
#status_projetos h1 .inativo { -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -o-transform: rotate(-180deg); -sand-transform: rotate(-180deg); transform: rotate(-180deg) }
#status_projetos .form { padding-left: 150px; padding-right: 150px; padding-bottom: 50px }
#status_projetos form { margin-top: 50px }
#icon_menu { width: 100px; height: 100px; position: absolute; top: 20px; left: 20px; display: none; z-index: 99999999; }
@media only screen and (max-width:750px) {
	.show-phone { display: block !important }
	.hide-phone { display: none !important }
	#icon_menu { display: block; }
	body { padding-left: 20px; padding-right: 20px; }
	#menu .logo {		/*padding-left: 20% !important;*/

		/*padding-right: 20% !important;*/
	width: 50%; float: right; }
	#menu { padding-top: 20px; }
	#menu .menu { display: none; margin-top: 30px; }
	header .rede_social { display: none; }
	#status_projetos .conteudo { padding-left: 0px !important; padding-right: 0px !important; }
	#status_projetos { margin-top: 50px; }
	#menu .menu ul li { width: 100%; float: left; text-align: left; padding-top: 20px; font-size: 20pt; }
	#menu .menu { padding-left: 0; }
	#status_projetos .etapas { margin-top: 150px; }
	#status_projetos .residencial .quadro { width: 100%; }
	#status_projetos p { padding-top: 0; margin-top: 0; }
	#status_projetos .residencial { margin-top: 50px; }
	#status_projetos .residencial:before { display: none; }
	#status_projetos .etapas { padding-left: 20px !important; padding-right: 20px !important; padding-top: 20px; padding-bottom: 20px; }
	#status_projetos .form { padding-left: 0px !important; padding-right: 0px !important; }
	footer .item { width: 100%; text-align: center; margin-bottom: 50px; font-size: 15pt; }
	footer li { text-align: center; font-size: 15pt; }
	footer .direitos { font-size: 15pt; }
	.rede_social i { font-size: 30pt; margin-left: 30px; }
	header .customPrevBtn { display: none; }
	header .customNextBtn { display: none; }
	#menu .login { width: 100%; float: right; margin-top: 50px; font-size: 20pt; }
	#home { padding-top: 50px; }
	#home .sobre { padding-left: 0; }
	.texto { width: 100% !important; }
	.itens { width: 100% !important; }
	#carousel .titulo { font-size: 30pt !important; }
	header .mouse { display: none; }
	#home .servicos .item1 { width: 100%; }
	#home .servicos .item2 { width: 100%; }
	#home .servicos .item3 { width: 100%; }
	#home .produtos .conteudo { width: 100%; }
	#home .produtos .quadro { width: 100%; }
	#home #carousel_produtos { margin-left: 0 !important; }
	#home .produtos { padding-left: 0; }
	#home #carousel_produtos:before { display: none; }
	#home .produtos .quadro { padding-top: 50px; padding-bottom: 50px; }
	#home .quadro .customPrevBtn { left: 0 !important; }
	#home .quadro .customNextBtn { left: 40px !important; }
	#home .servicos .item1 { margin-bottom: 50px; }
	#home .servicos .item2 { margin-bottom: 50px; }
	#home .servicos .item3 { margin-bottom: 50px; }
	#home .nossos_parceiros .item { width: 100%; margin-bottom: 50px; }
	#home .produtos .conteudo { margin-bottom: 50px; }
	#home .sobre { padding-bottom: 50px; }
	#home .servicos .itens .texto { padding-bottom: 30px; }
	#home .produtos .conteudo { padding-top: 50px; }
	#sobre .conteudo { padding-left: 0 !important; padding-right: 0 !important; }
	#sobre .quadro { padding-left: 50px; }
	#sobre .quadro img { margin: 0; }
	#sobre .quadro { height: 100vh; }
	#sobre .quadro img { width: 100%; }
	#sobre .banner { margin-top: 50px; padding-right: 0; }
	#sobre .textos { margin-top: 50px; }
	#sobre .textos { padding-left: 0 !important; padding-right: 0 !important; }
	#servicos .servicos { padding-left: 20px; padding-right: 20px; }
	#servicos .servicos .customPrevBtn { display: none; }
	#servicos .servicos .customNextBtn { display: none; }
	#servicos .servicos { padding-bottom: 50px; }
	.equipe .quadro div { -webkit-transform: rotate(0deg) !important; -moz-transform: rotate(0deg) !important; -o-transform: rotate(0deg) !important; -sand-transform: rotate(0deg) !important; transform: rotate(0deg) !important; }
	#servicos p { margin-left: 0 !important; }
	#servicos hr { display: none; }
	#servicos .nossa_equipe { padding-left: 0 !important; padding-right: 0 !important; }
	#projetos .conteudo { padding-left: 0 !important; padding-right: 0 !important; }
	#projetos p { padding-left: 0 !important; }
	#projetos .empresarial { margin-top: 20px; padding-right: 50px; padding: 20px !important; }
	#projetos .empresarial .quadro { width: 100% !important; }
	#projetos .empresarial .customNextBtn { display: none; }
	#projetos .empresarial .customPrevBtn { display: none; }
	#projetos .residencial { margin-top: 20px; padding-right: 50px; padding-left: 50px; padding: 20px !important; }
	#projetos .residencial .quadro { width: 100% !important; }
	#projetos .residencial .customNextBtn { display: none; }
	#projetos .residencial .customPrevBtn { display: none; }
	#projetos .edificios { margin-top: 20px; padding-right: 50px; padding: 20px !important; }
	#projetos .edificios .quadro { width: 100% !important; }
	#projetos .edificios .customNextBtn { display: none; }
	#projetos .edificios .customPrevBtn { display: none; }
	#login input { width: 80%; }
	#carousel .item { background-size: 300% 100%; background-position-y: 50%; }
	#carousel .saiba_mais { width: 80%; }
	header .owl-theme .owl-dots .owl-dot span { width: 50px; }
	#home .servicos .saiba_mais { text-align: center; }
	footer li { padding-left: 0; }
	#menu .logo img { margin-top: 20px; }
	#sobre .quadro { height: auto !important; }
	#servicos .equipe { min-height: auto; }
	#projetos p { font-size: 30pt !important; }
	#projetos .orcamento { width: 90%; }
	#projetos .orcamento span { padding-left: 10px; padding-right: 10px; }
	#contato .quadro { width: 100%; padding: 20px !important; height: 50vh; }
	#contato iframe { width: 100% !important; }
	#contato .dados { width: 100%; padding: 0; margin-top: 50px; }
	#contato form { padding: 0 !important; }
	#contato form button { width: auto; margin-top: 50px; }
	#contato form span { text-align: right; }
	#contato form .meio { width: 100%; }
	#home .nossos_parceiros{
		background-size: 100%;
		background-position-y: 40vh;
	}
}
@media only screen and (max-width:1000px) {
	.show-laptop { display: block !important }
	.hide-laptop { display: none !important }
	.show-tablet { display: block !important }
	.hide-tablet { display: none !important }
	#home .servicos { padding-left: 20px; padding-right: 20px }
	#home .produtos .conteudo { padding-left: 0 }
	#home #carousel_produtos { margin-left: -100px }
	#home .produtos .quadro { padding-left: 0 }
	#home .quadro .customPrevBtn { left: -100px }
	#home .quadro .customNextBtn { left: -60px }
	#carousel .titulo { font-size: 60px }
	#carousel .saiba_mais { margin-top: 10vh }
	#menu .login span { padding-left: 10px; padding-right: 10px }
	#home .sobre { padding-right: 0 }
	.texto { width: 60% }
	#home .sobre .itens { width: 65% }
	#home #carousel_produtos:before { right: -100px }
	#sobre .conteudo { padding-left: 50px }
	#sobre .quadro { padding-right: 50px }
	#sobre .textos { padding-left: 50px; padding-right: 50px }
	#servicos .servicos .customPrevBtn { top: 100vh }
	#servicos .servicos .customNextBtn { top: 100vh }
	#servicos p { font-family: 'nexa-bold'; font-size: 40pt; margin-top: 50px; color: #e8f0f2; margin-left: -150px }
	#servicos .nossa_equipe { padding-left: 50px; padding-right: 50px }
	#projetos .conteudo { padding-left: 50px; padding-right: 50px }
	#projetos .empresarial { padding-left: 50px; padding-top: 50px; padding-bottom: 50px }
	#projetos p { font-family: 'nexa-bold'; font-size: 50pt; margin-top: 50px; color: #e8f0f2; line-height: 50px; padding-top: 5vh; padding-left: 50px }
	#projetos .residencial p { padding-left: 0 }
	#projetos .empresarial .quadro { width: 45% }
	#projetos .residencial .quadro { width: 45% }
	#projetos .edificios .quadro { width: 45% }
	#projetos .residencial { padding-right: 50px; padding-top: 50px; padding-bottom: 50px }
	#projetos .edificios { padding-left: 50px; padding-top: 50px; padding-bottom: 50px }
	#contato .quadro { padding-left: 50px }
	#contato iframe { width: 110%; margin-left: 0 }
	#contato p { font-size: 50pt }
	#contato form { padding-left: 50px; padding-right: 50px }
	#status_projetos .conteudo { padding-left: 50px; padding-right: 50px }
	#status_projetos .residencial { padding-right: 0px }
	#status_projetos .residencial .banner .item { max-height: 60vh; width: auto }
	#status_projetos p { font-size: 50pt }
	#status_projetos .etapas { padding-left: 50px; padding-right: 50px }
	#status_projetos .form { padding-left: 50px; padding-right: 50px }
	#menu .logo { padding: 0 }
}